.class__container {
    padding: 1rem 2rem;

    .analytics__cards {
        @include flex__center__row;
    }

    .topic__container {
        margin-top: 1rem;

        .topic__topics {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .chat__heading {
                margin: 0.5rem 1rem;
            }
        }

        .topic__section {
            background-color: var(--color-white);
            box-shadow: 2px 2px 5px var(--color-shadow);
            flex: 1;
            border-radius: var(--border-radius);
            height: fit-content;
            max-width: 33%;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        .topic__column {
            overflow-y: scroll;
            max-height: 75vh;
            padding: 1rem;

            &::-webkit-scrollbar {
                width: 0.4rem;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--color-green);
                border-radius: 10px;
            }

            .topic__row {
                @include flex__center__row;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid var(--color-green);
                }

                .topic__detail {
                    flex: 1;

                    .topic__title {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .topic__title-text {
                            font-size: 1.1rem;
                            font-family: var(--font-semibold);
                        }

                        .topic__title-green {
                            color: var(--color-green--dark);
                        }

                        .topic__title-red {
                            color: var(--color-red);
                        }

                        .unread__dot {
                            margin-right: 1rem;
                            color: var(--color-green);
                        }
                    }
                }

                .topic__icon {
                    background-color: var(--color-green);
                    height: 4rem;
                    width: 4rem;
                    padding: 0.75rem;
                    border-radius: 50%;
                    color: var(--color-white);
                    margin-right: 1rem;
                }
            }

            .selected {
                background-color: var(--color-green--very-light);
            }
        }

        .related__section {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
        }

        .analytics__control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        .question__chart {
            background: var(--color-white);
            margin: 2rem 0;
            padding: 1rem;
            border-radius: var(--border-radius);
            box-shadow: 2px 2px 5px var(--color-shadow);
            height: fit-content;
        }

        .analytics__data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .demographic__chart {
                flex: 1;
                background: var(--color-white);
                height: fit-content;
                padding: 1rem;
                border-radius: var(--border-radius);
                box-shadow: 2px 2px 5px var(--color-shadow);
            }

            .demographic__cards {
                border-radius: var(--border-radius);
                flex: 2;
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                // justify-content: flex-start;

                .analytics__cards {

                    &:not(:last-child) {
                        margin-bottom: 0.85rem;
                    }

                    .analytic__card {
                        min-height: 10rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .class__container {
        padding: 1rem;

        .topic__container {
            .question__chart {
                margin: 1rem 0;
            }

            .topic__column {
                padding: 0.5rem;
            }

            .analytics__data {

    
                .demographic__chart {
                    padding: 0.5rem;
                }
    
                .demographic__cards {
                    margin-left: 0.5rem;

                    .analytics__cards {
                        

                        &:not(:last-child) {
                            margin-bottom: 0.85rem;
                        }
    
                        .analytic__card {
                            min-height: 100%;
                            text-align: center;

                            &:not(:last-child) {
                                margin-right: 0.5rem;
                            }
                        }
                    }
    
                }
            }
        }
    }
}