.class__container {
    padding: 1rem 2rem;

    .analytics__cards {
        @include flex__center__row;
    }

    .topic__container {
        margin-top: 1rem;

        .topic__topics {
            margin-top: 1rem;
        }
        
        .topic__topics--list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .related__section {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
        }

        .analytics__control {
            @include flex__center__row;
        }
    }
}

