* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-normal);
    background-color: var(--color-background);
    line-height: 1.7;
    background-size: 100vw 100vh;
    color: var(--color-text);
    position: relative;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-green);
        border-radius: 10px;
    }
}

main {
    width: 100%;
    background: var(--color-gray--light);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

input::placeholder {
    font-family: var(--font-normal);
}

.title-primary {
    font-family: var(--font-bold);
    font-size: 3rem;
}

.title-secondary {
    font-family: var(--font-bold);
    font-size: 2rem;
}

.title-tertiary {
    font-family: var(--font-normal);
    font-size: 1.5rem;
}

.borderless__button {
    cursor: pointer;
    padding: 0.5rem 0;
    background: transparent;
    font-weight: bold;
    font-size: 1rem;
}

.bordered__button {
    @include flex__center__row;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--color-green);
    border-radius: var(--border-radius);
}

.contained__button {
    @include flex__center__row;
    padding: 0.75rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: var(--border-radius);
    background: var(--color-green);
    color: var(--color-white);
    font-family: var(--font-bold);
}

.margin__bottom:not(:last-child){
    margin-bottom: 1rem;    
}

.margin__top {
    margin-top: 1rem;
}

.float__left {
    float: left;
}

.float__right {
    float: right;
}

.width__80 {
    width: 80%;
}

.container {
    display: flex;
}

.section__buttons {
    background-color: var(--color-gray--light);
    padding: 0.5rem 0;
    border-radius: var(--border-radius);
}

.section__button {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.warning__button {
    border: 2px solid var(--color-red);
    color: var(--color-red);
}

.margin-left {
    margin: 1rem 1rem 0 1rem;
}

.input__label {
    margin-top: 1rem;
}

input::file-selector-button {
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    margin-right: 1rem;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-family: var(--font-normal);
}