// Important: utilities must be the first import, because it contains mixins.
@import './utilities.scss';
@import './app.scss';
@import '../components//NavBar/NavbarStyles.scss';
@import '../components/SideBar/SideBarStyles.scss';
@import '../components/Header/HeaderStyle.scss';
@import '../components/UI\ Elements/UIElements.scss';
@import '../pages/Class/Topics/topicStyle.scss';
@import '../pages/Login/LoginStyles.scss';
@import '../pages/Class/ClassStyles.scss';

:root {
  --color-background: #ffffff; // used
  --color-white: #ffffff; // used
  --color-text: #000000; // used
  --color-shadow: #01010144; // used

  --color-green: #275d38; // used
  --color-green--light: #78BE1F;
  --color-green--medium: #4BA23F;
  --color-green--dark: #00843D; // used
  --color-green--very-light: #e8f5e9; 

  --color-blue: #0d47a1;
  --color-blue--light: #29b6f6;

  --color-purple: #7e57c2;
  --color-red: #d50000; // used

  --color-gray: #A7A8AA; // used
  --color-gray--light: #f6f6f7; // used
  
  --border-radius: 0.5rem; // used
  
  --font-normal: Rajdhani; // used
  --font-bold: Rajdhani_Bold; // used
  --font-light: Rajdhani_Light;
  --font-semibold: Rajdhani_semibold; // used
}

