@mixin flex__center__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin flex__center__column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@font-face {
    font-family: Rajdhani;
    src: local(Rajdhani), url("../assets/fonts/Rajdhani-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Rajdhani_Bold;
    src: local(Rajdhani_Bold), url("../assets/fonts/Rajdhani-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Rajdhani_Light;
    src: local(Rajdhani_Light), url("../assets/fonts/Rajdhani-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
