.input__container {
    background: var(--color-gray--light);
    min-width: 475px;
    width: 30%;
    height: fit-content;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius);
    align-items: center;

    .input__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: var(--border-radius);
        overflow: hidden;
        background: var(--color-background);
        width: 80%;
        margin-bottom: 1rem;
    
        .input__field{
            background: var(--color-background);
            padding: 0.5rem;
            width: 100%;
            font-size: 1.25rem;

            &::placeholder { 
                color: var(--color-gray);
                opacity: 1;
                font-size: 1rem;
            }
        }

        .input__icon-container {
            background: var(--color-green);
            height: 100%;
            padding: 0.5rem;
            align-items: center;
            display: flex;

            .input__icon {
                background-color: var(--color-green);
            }
        }
    }
}


.tab__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px var(--color-shadow);

    .tab__button {
        flex: 1;
        padding: 0.75rem;
        background: var(--color-background);
        border-bottom: 2px solid var(--color-green);
        font-family: var(--font-bold);
        font-size: 1.15rem;

        &:not(:last-child) {
            border-right: 2px solid var(--color-green);
        }
    }

    .active {
        background: var(--color-green);
        color: var(--color-white);
        font-family: var(--font-bold);
    }
}

.analytic__card {
    @include flex__center__column;
    background: var(--color-white);
    // max-width: 250px;
    width: 25%;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px var(--color-shadow);
    padding: 1rem;

    .analytic__card-value {
        font-family: var(--font-bold);
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .analytic__card-text {
        font-size: 1.25rem;
        font-family: var(--font-semibold);
        text-transform: capitalize;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.search__container {
    margin: 1rem;
    width: calc(100% - 2rem);


    .search__input {
        background-color: var(--color-green--very-light);
        width: 100%;
        padding: 0.75rem 1rem;
        border-radius: var(--border-radius);
        font-size: 1rem;

        &::placeholder {
            font-family: var(--font-normal);
            color: var(--color-text);
        }
    }
}

.sort__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;

    .sort__button {
        @include flex__center__row;
        padding: 0.5rem 1rem;
        flex: 1;
        background: transparent;

        .sort__label {
            font-family: var(--font-bold);
            font-size: 1.25rem;
        }

        .sort__button-icons {
            margin-left: 0.5rem;
        }
    }
}