.header__container {
    margin: 1rem 2rem;
    border-radius: var(--border-radius);
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px var(--color-shadow);

    .header__details {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex: 1;

        .header__image {
            height: 13rem;
            width: 13rem;
            margin-right: 2rem;
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .header__details--info {
            font-weight: 700;
            font-size: 1.1rem;
        }
    }

    .header__actions{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1080px) {
    .header__container {
        margin: 1rem;
        padding: 1rem;
        width: calc(100% - 2rem);
    }
}