.sidebar__container {
    background: var(--color-green--dark);
    background-image: url('../../assets/Patterns/Icon\ Pattern\ Final/Icon Background-dkgreen.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: var(--color-white);
    min-width: 250px;
    width: 10%;
    height: 100vh;
    box-shadow: 2px 0 5px var(--color-shadow);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    
    .sidebar__title-box {
        @include flex__center__column;
        height: 15rem;
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--color-white);
        
        .sidebar__title {
            font-family: var(--font-bold);
            font-size: 2rem;
            letter-spacing: 2px;
        }

        .sidebar__image--box {
            width: 100%;
            height: 10rem;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    .sidebar__links {
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        .sidebar__link {
            color: var(--color-white);
            font-size: 1.25rem;
            padding: 0.75rem 0.25rem 0.75rem 3rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            backdrop-filter: blur(3px);

            .sidebar__link--text {
                padding: 0.5rem;
            }

            &:last-child {
                margin-bottom: 5rem;
            }
        }
        
        .active {
            transition: var(--transition);
            background: var(--color-gray--light);
            box-shadow: 0 2px 5px var(--color-shadow);
    
            .sidebar__link--text {
                color: var(--color-text);
                font-family: var(--font-bold);
            }

            .sidebar__link--icon {
                color: var(--color-text);
            }
        }
    }
}