@import './styles/UIElements.scss';
@import './styles/LoginStyles.scss';

:root {
  --color-background: #ffffff;
  --color-text: #000000;

  --color-blue: #0d47a1;
  --color-light--blue: #29b6f6;

  --color-purple: #7e57c2;
  --color-red: #d50000;

  --color-dark--blueish-gray: #b0beff;
  --color-light--blueish-gray: #f3f5ff;
  --color-medium--blueish-gray: #dadfff;

  --color-green: #275d38;
  --color-dark--greenish-gray: #00843D;
  --color-light--greenish-gray: #78BE1F;
  --color-medium--greenish-gray: #4BA23F;

  --color-gray: #A7A8AA;
  --color-light--gray: #f6f6f7;

  --border-radius: 0.5rem;
}

@font-face {
	font-family: Rajdhani;
	src: local(Rajdhani), url('./assets/fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: Rajdhani;
  background-color: var(--color-background);
  line-height: 1.7;
  background-size: 100vw 100vh;
  transition: 0.5s;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-green);
    border-radius: 10px;
  }
}

input::placeholder {
  font-family: Rajdhani;
}

.borderless__button {
  cursor: pointer;
  padding: 0.5rem 0;
  background: transparent;
  font-weight: bold;
  font-size: 1rem;
}

.contained__button {
  padding: 1rem 3rem;
  border-radius: var(--border-radius);
  background: var(--color-green);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  cursor: pointer;
  margin-top: 2rem;
}

.float__left {
  float: left;
}

.float__right {
  float: right;
}

.width__80 {
  width: 80%;
}